<div id="getAdvice">
  <div class="getAdviceData">
    <div class="top">
      <div class="title">
        <%- theme.getAdvice.title %>
      </div>
      <div class="detail">
        <%- theme.getAdvice.detail %>
      </div>
    </div>

    <div class="center">
      <div>
        <div class="title">
          <%- theme.getAdvice.centerTitle %>
        </div>
        <div class="detail">
          <%- theme.getAdvice.centerDetail %>
        </div>
      </div>
      <div class="right">
        <div class="rightEmail">
          <%= theme.getAdvice.rightEmail %>
        </div>
        <div class="ani animated" @click="copyMailbox()">
          <a class="rightBtn">
            <%= theme.getAdvice.rightBtnText %>
          </a>
        </div>
      </div>
    </div>

    <div class="splitBar"></div>

  </div>
  <% if(theme.getAdvice.backgroundImg) { %>
  <img class="backgroundImg" src="<%= theme.getAdvice.backgroundImg%>"
      mode="scaleToFill">
  <% }; %>
</div>

<script>
  var vm = new Vue({
    el: "#getAdvice",
    data: {},
    computed: {},
    mounted() {},
    methods: {
      copyMailbox() {
        navigator.clipboard.writeText('<%= theme.getAdvice.rightEmail %>').then((result) => {
          this.$notify({
            title: "<%= theme.getAdvice.copyTitle %>",
            content: "<%= theme.getAdvice.copyContent %>",
            type: 'success'
          })
        }).catch((err) => {
          console.log(err);
        });

      }


    },
    created() {}
  });
</script>
<style lang="scss" scoped>
  #getAdvice {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    color: #ffffff;
    z-index: 0;

    .backgroundImg {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 750px;
      z-index: 1;
    }
  }

  .getAdviceData {
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 70%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 85px;

      .title {
        font-weight: bold;
        font-size: 34px;
        margin-bottom: 30px;
      }

      .detail {
        line-height: 2;
        font-size: 20px;
      }
    }

    .center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: <%- theme.getAdvice.centerBackColor %>;
      border-radius: 15px;
      padding: 40px 50px;
      margin-bottom: 300px;

      .title {
        font-size: 34px;
        margin-bottom: 20px;
      }

      .detail {
        line-height: 2;
        font-size: 20px;
      }

      .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border-radius: 8px;
        width: 430px;
        padding: 12px 20px;

        .rightEmail {
          color: #898989;
        }

        .rightBtn {
          padding: 12px 28px;
          color: #ffffff;
          border-radius: 10px;
          display: inline-block;
          z-index: 1;
          background-color: <%- theme.getAdvice.rightBtnColor %>;
          border: 1px solid <%- theme.getAdvice.rightBtnColor %>;
        }
      }
    }




  }
</style>