<div id="rolePlay">
  <div class="rolePlayData">
    <div class="top">
      <div class="title">
        <%- theme.rolePlay.title %>
      </div>
      <div class="detail">
        <%- theme.rolePlay.detail %>
      </div>
    </div>

    <div class="splitBar"></div>

    <div class="center">
      <%
        var imgArr = theme.rolePlay.swiper.imgs;
        var swpiers = imgArr;
        var swiperLength = swpiers.length;
      %>
      <div class="swiper-length" style="display: none;"><%- swiperLength %>
      </div>
      <div id="uniSwiper" @mouseenter="stopAutoPlay()"
          @mouseleave="startAutoPlay()">
        <swiper class="uniSwiper" ref="uniSwiper"
            style="height:<%- theme.rolePlay.swiper.height %>;"
            :options="swiperOptions">

          <% swpiers.forEach(function (imgUrl) { %>
          <swiper-slide>
            <img class="no-lazy"
                src="<%- url_for(imgUrl || theme.rolePlay.swiper.defaultImg) %>"
                style="width:100%;height:100%;object-fit: cover;">
          </swiper-slide>
          <% }) %>
          <div class="swiper-pagination" slot="pagination" pointer
              style="<% if(!theme.rolePlay.swiper.showIndicators || swiperLength <= 1) { %>display: none;<% } %>">
          </div>
          <div class="swiper-button-prev swiper-button-white" pointer
              slot="button-prev"
              style="<% if(!theme.rolePlay.swiper.showPrevNext || swiperLength <= 1) { %>display: none;<% } %>">
          </div>
          <div class="swiper-button-next swiper-button-white" pointer
              slot="button-next"
              style="<% if(!theme.rolePlay.swiper.showPrevNext || swiperLength <= 1) { %>display: none;<% } %>">
          </div>
        </swiper>
      </div>

    </div>

    <div class="splitBar"></div>
  </div>
</div>

<script>
  var loop = JSON.parse('<%= theme.rolePlay.swiper.loop %>');
  var effect = '<%= theme.rolePlay.swiper.effect %>';
  var delay = '<%= theme.rolePlay.swiper.delay %>';
  var autoplay = JSON.parse('<%= theme.rolePlay.swiper.autoplay %>');
  var vm = new Vue({
    el: "#rolePlay",
    data: {
      swiperOptions: {
        pagination: {
          el: '.swiper-pagination',
          clickable: true // 允许点击小圆点跳转
        },
        loop: loop ? true : false,
        effect, // fade
        autoplay: autoplay ? {
          delay,
          disableOnInteraction: false // 手动切换之后继续自动轮播
        } : false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      }
    },
    computed: {
      swiper() {
        return this.$refs.uniSwiper.$swiper
      }
    },
    mounted() {},
    methods: {
      stopAutoPlay() {
        autoplay && this.swiper.autoplay.stop();
      },
      startAutoPlay() {
        autoplay && this.swiper.autoplay.start();
      },
    },
    created() {}
  });
</script>
<style>
  #rolePlay {
    width: 100%;
    min-height: 100vh;
    margin: 30px auto;
    color: #ffffff;
    z-index: 0;
  }

  .rolePlayData {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 70px;

      .title {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 40px;
      }

      .detail {
        line-height: 2;
        font-size: 16px;
      }
    }

    .center {
      width: 100%;
      margin: 20px 0;

      .uniSwiper .swiper-slide {
        width: 100%;
      }

      .swiper-button-prev {
        padding: 10px 10px;
        transition: background 0.2s;

        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }

      .swiper-button-next {
        padding: 10px 10px;
        transition: background 0.2s;

        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }


      .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: <%- theme.color_scheme.common.link %> !important;
      }
    }
  }
</style>